<div class="top-row">
  <div class="top-or-bottom-item">
    <h4>Jaws</h4>
    <img src="/images/players/player_dino.png" height="96px" width="71px">
    <img src="/images/cards/backs_blue.png" height="96px" width="71px">
  </div>
  <div class="top-or-bottom-item">
    <h4>Nemo</h4>
    <img src="/images/players/player_penguin.png" height="96px" width="71px">
    <img src="/images/cards/backs_blue.png" height="96px" width="71px">
  </div>
</div>
<div class="middle-row">
  <div class="middle-item box-small">
    <h4>Dory</h4>
    <img src="/images/players/player_bee.png" height="96px" width="71px">
    <img src="/images/cards/backs_blue.png" height="96px" width="71px">
  </div>
  <div class="middle-item box-center">
    <div id="speech">
    </div>
    <div class="fish-blue">
      <img src="/images/fish_blue.png" height="200px" width="210px">
    </div>
  </div>
  <div class="middle-item box-small">
    <h4>Puffer</h4>
    <img src="/images/players/player_elephant.png" height="96px" width="71px">
    <img src="/images/cards/backs_blue.png" height="96px" width="71px">
  </div>
</div>
<div class="bottom-row">
  <div class="top-or-bottom-item" id="books">
    <h4>Your Books</h4>
    <img src="/images/cards/backs_blue.png">
  </div>
  <div class="top-or-bottom-item" id="your_cards">
    <h4>Amanda (You)</h4>
    <img src="/images/players/player_bear.png" height="96px" width="71px">
    <img src="/images/cards/ca.png" height="96px" width="71px">
    <img src="/images/cards/ck.png" height="96px" width="71px">
    <img src="/images/cards/sk.png" height="96px" width="71px">
    <img src="/images/cards/h10.png" height="96px" width="71px">
    <img src="/images/cards/d2.png" height="96px" width="71px">
  </div>
  <div class="top-or-bottom-item">
    <h4>Fish Left</h4>
    <h2 id="fish_score">12</h2>
  </div>
</div>
