<!DOCTYPE html>
<html>
  <head>
    <title>Go Fish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href='../styles/styles.css'rel='stylesheet' type='text/css' >
  </head>
  <body>
    <header>
      <h1>Go Fish</h1>
    </header>
    <main class='game' >
      <%= yield %>
    </main>
    <br>
    <footer>
      <a href='../views/index.html'><button type='button'>Restart Game</button></a>
    </footer>
  </body>
</html>
